* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: lightcyan;
  color: rgb(22, 21, 21);
  padding: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  margin-top: 1rem;
}

#generate-btn {
  width: 10rem;
  margin: 1rem;
  align-items: center;
  padding: 10px;
  border-radius: 10rem;
  background-color: orangered;
  border: none;
  color: white;
  cursor: pointer;
}

.floor {
  display: flex;
  height: 170px;
  border-bottom: 2px solid rgb(221, 15, 15);
}

.floor button {
  width: 15px;
  height: 15px;
  margin: 1rem;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6%;
}

.button-up,
.button-down {
  width: 2rem;
  height: 2rem;
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0 0 10px;
}
.left-door,
.right-door {
  width: 50px;
  height: 150px;
  background-color: rgb(227, 210, 18);
  border: 1px solid white;
}

.lift {
  height: 150px;
  width: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  position: relative;
  transition: bottom 4s;
  bottom: 0;
  margin-top: 20px;
}

.lifts-section {
  display: flex;
}

@media (max-width: 1940px) {
  .lift {
    height: 100px;
    width: 80px;
    margin-top: 70px;
  }
  .left-door,
  .right-door {
    height: 100%;
    width: 100%;
  }

  .buttons {
    transition: 1s ease-in-out;
  }
}
@media (max-width: 1904px) {
  .lift {
    height: 80px;
    width: 60px;
    margin-top: 90px;
  }
}
@media (max-width: 1710px) {
  .buttons {
    width: 15%;
    transition: 1s ease-in-out;
  }
}
@media (max-width: 1290px) {
  .buttons {
    width: 12%;
    transition: 1s ease-in-out;
  }
}
@media (max-width: 1110px) {
  .lift {
    height: 70px;
    width: 50px;
    margin-top: 100px;
  }
  .buttons {
    width: 16%;
    transition: 1s ease-in-out;
  }
  .lifts-section {
    width: 80%;
  }
}
@media (max-width: 950px) {
  .lift {
    height: 50px;
    width: 30px;
    margin-top: 120px;
  }
  .buttons {
    width: 15%;
    transition: 1s ease-in-out;
  }
  .left-door,
  .right-door {
    border: 0.2px solid white;
  }
}

@media (max-width: 850px) {
  .lift {
    height: 40px;
    width: 30px;
    margin-top: 130px;
  }
  .left-door,
  .right-door {
    border: 0.2px solid white;
  }
}
@media (max-width: 730px) {
  .lift {
    height: 50px;
    width: 40px;
    margin-top: 120px;
    margin-right: 10px;
  }
  .lifts-section {
    width: 280px;
  }
  .left-door,
  .right-door {
    border: 0.2px solid white;
  }
}
